<div class="row">
	<div class="pull-right">
		<button class="btn btn-success" {{action 'markAllRead'}}>
			<span class="glyphicon glyphicon-folder-close"></span> 	Mark all as read
		</button>
		<button class="btn btn-warning" {{action 'markAllUnread'}}>
			<span class="glyphicon glyphicon-folder-open"></span> 	Mark all as unread
		</button>
	</div>
</div>

{{#each mailThread in model}}
	
	<div {{bind-attr class=":bs-callout mailThread.hasUnreadMails:bs-callout-success:bs-callout-default"}}>
		{{#link-to 'message-detail' mailThread.id }}
			{{mailThread.subject}} 
		{{/link-to}}

		({{mailThread.mails.length}})
	</div>

{{/each}}